# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Firebase admin key
serviceAccountKey.json
diagrams/admin_approval.drawio
diagrams/authentication.drawio
diagrams/buying.drawio
diagrams/dispute_resolution.drawio
diagrams/notification_system.drawio
diagrams/order_chat.drawio
diagrams/profile_management.drawio
diagrams/reopen_shop.drawio
diagrams/review_rating.drawio
diagrams/selling.drawio
diagrams/support_ticket.drawio
diagrams/wallet_topup.drawio
diagrams/wishlist_management.drawio
diagrams/bank_account_withdrawal.drawio
diagrams/category_game_management.drawio
diagrams/delivery_order_fulfillment.drawio
diagrams/slider_management.drawio
diagrams/category_management.drawio
diagrams/game_management.drawio
